html, body {
  margin: 0;
  background-color: rgb(0, 0, 0);
}

.top {
  background-color: purple;
  height: 5vh;
}



a:link { text-decoration: none; }
a:hover { text-decoration: none; color: blue; }
a:active { text-decoration: none; }
a {
  color: white;
  
}



.item1{
  float: left;
  font: 2em QUARTZO;
  margin-left: 7px;
  margin-top: -5px;
}

.item2{
  float: right;
  font: 1.7em b Koodak;
  margin-right: 7px;
  margin-top: -5px;
}

.item3{
  float: right;
  font: 1.7em b Koodak;
  margin-right: 60px;
  margin-top: -5px;
}


.fpage {
  text-align: center;
  color: purple;
  font: 3em w_masnavi;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.spage {
  text-align: center;
  color: black;
  font: 3em w_masnavi;
  height: 100vh;
  background-color: pink;
}